.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
